
image:
  repository: acme
  tag: latest

service:
  type: LoadBalancer
  port: 80

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: acme.com
      paths:
        - path: /
          pathType: Prefix
    - host: acme.com
      paths:
        - path: /api
          pathType: Prefix
